In [1]:
cd /home

/home

In [42]:
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np
from glob import glob
import toml
import os


from src.metrics.visualize import get_training_metrics

plt.rcParams.update({
    "text.usetex": True,
    "font.family": "sans-serif",
    "font.sans-serif": ["Helvetica"]})
# for Palatino and other serif fonts use:
plt.rcParams.update({
    "text.usetex": True,
    "font.family": "serif",
    "font.serif": ["Palatino"],
})

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [84]:
root = './presentation/experiments/astromer_1/results/2024-01-15_01-25-27/'

path

'./presentation/experiments/astromer_2/results/skip/2024-01-09_00-03-12/classification/atlas/fold_0/atlas_20/att_mlp/logs'

In [88]:
frames = []
for dataset in ['alcock', 'atlas']:
    for fold_n in range(3):
        for spc in [20, 100]:
            try:
                path = os.path.join(root, 
                                    dataset, 
                                    'fold_{}'.format(fold_n), 
                                    '{}_{}'.format(dataset, spc),  
                                    'att_mlp', 
                                    'logs')
                metrics = get_training_metrics(path, tag='{}_{}_{}'.format(dataset, spc, fold_n))
                frames.append(metrics)
            except:
                continue
frames = pd.concat(frames)

In [89]:
partial = frames.groupby(['col_0', 'col_1', 'col_2']).max().reset_index()
partial = partial[['col_0', 'col_1', 'col_2', 'epoch_accuracy']]
partial.groupby(['col_0', 'col_1']).mean().reset_index()

    col_0 col_1 col_2 epoch_accuracy
0  alcock   100   4.0       0.644723
1  alcock    20   4.0       0.631168